.input {
    outline: none;
    font-family: Montserrat, sans-serif;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    min-width: 100px;
    height: 25px;
    background-color: var(--color-black3);
    border: 1px solid var(--color-black2);
}