@font-face {
  font-family: 'moon-cx';
  src:  url('fonts/moon-cx.eot?folf0m');
  src:  url('fonts/moon-cx.eot?folf0m#iefix') format('embedded-opentype'),
    url('fonts/moon-cx.ttf?folf0m') format('truetype'),
    url('fonts/moon-cx.woff?folf0m') format('woff'),
    url('fonts/moon-cx.svg?folf0m#moon-cx') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="moon-cx-"], [class*=" moon-cx-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'moon-cx' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.moon-cx-currency-quantity:before {
  content: "\e90d";
}
.moon-cx-connect-wallet:before {
  content: "\e90c";
}
.moon-cx-telegram:before {
  content: "\e90a";
}
.moon-cx-xwitter:before {
  content: "\e90b";
}
.moon-cx-cross:before {
  content: "\e909";
}
.moon-cx-arrow-down:before {
  content: "\e905";
}
.moon-cx-swap-currency:before {
  content: "\e901";
}
.moon-cx-settings:before {
  content: "\e902";
}
.moon-cx-locale:before {
  content: "\e903";
}
.moon-cx-closed-lock:before {
  content: "\e906";
}
.moon-cx-opened-lock:before {
  content: "\e907";
}
.moon-cx-moon-icon:before {
  content: "\e908";
}
