@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../icons/style.css');

:root {
    font-family: Montserrat,sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--color-black5);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --font-size: 0.625rem; /* 10px */
    --font-size1: 0.75rem; /* 12px */
    --font-size2: 1rem; /* 16px */
    --font-size3: 1.125rem;  /*18px */
    --font-size4: 1.25rem; /* 20px */
    --font-size5: 1.375rem; /* 22px */
    --font-size6: 1.625rem; /* 26px */

    --color-black0: #525266;
    --color-black1: #47475C;
    --color-black2: #24242D;
    --color-black3: #1A1A21;
    --color-black4: #17171D;
    --color-black5: #151618;
    --color-black6: #121217;
    --color-black7: #0C0C12;
    --color-white: FFFFFF;
    --color-blue1: #9DC9F7;
    --color-green: #20B55C;
    --color-red: #F53535;
    --color-gradient1: linear-gradient(-45deg, rgba(191,148,242,1) 0%, rgba(150,211,248,1) 100%);
    --color-gradient2: linear-gradient(-45deg, rgba(145,249,247,1) 0%, rgba(191,148,242,1) 52%, rgba(249,200,165,1) 100%);
    --color-gradient3: linear-gradient(0deg, rgba(36,36,45,1) 0%, rgba(68,68,83,1) 83%);
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

body {
    margin: 0;
    display: flex;
    place-items: start;
    min-width: 320px;
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--color-black7);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
