.swap-currency-card {
    width: 430px;
    background: var(--color-black6);
    border-radius: 7px;
    padding: 15px;
}
.swap-currency-card-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.swap-currency-card-header__label {
    font-size: var(--font-size14);
    color: var(--color-black0);
    font-weight: 500;
}

.swap-currency-card-header__wallet-currency-quantity {
    display: flex;
    color: var(--color-purple)
}
.swap-currency-card-header__wallet-currency-quantity--receive {
    color: var(--color-black1)
}
.wallet-currency-quantity__icon {
    font-size: 14px;
    margin-right: 5px;
}
.wallet-currency-quantity__value {
    font-size: var(--font-size14);
    font-weight: 500;
}

.swap-currency-card-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.swap-currency-card-selection__currency-selection {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.currency-selection__currency-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.currency-selection__currency-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.currency-selection__currency-title {
    font-size: var(--font-size26);
    font-weight: 600;
    margin-right: 15px;
}
.currency-selection__arrow-icon {
    transform: rotate(-90deg);
    font-size: 14px;
}
.swap-currency-card-selection__currency-amount {
    font-size: var(--font-size26);
    width: 70%;
    display: flex;
    justify-content: end;
    font-weight: 600;
}
.swap-currency-card-selection__currency-amount > .ant-input-number > .ant-input-number-input-wrap > input {
    text-align: right;
    padding: 0;
    font-weight: 600;
}
.swap-currency-card-amount-equivalent {
    display: flex;
    justify-content: end;
    font-size: var(--font-size14);
    color: var(--color-black0);
}